@font-face {
    font-family: 'MyWebFont';
    src:  url('./assets/fonts/BradfordMonoLL-Regular.otf') format('otf'),
          url('./assets/fonts/BradfordMonoLL-Regular.woff2') format('woff2');
  }

@font-face {
font-family: 'MyWebFont2';
src:  url('./assets/fonts/druk/DrukWide-Medium.otf') format('otf'),
        url('./assets/fonts/druk/DrukWide-Medium.woff') format('woff');
}

h2, h1, h3{
    font-weight: 200;
}

html{
    cursor: url("./assets/img/cursor-auto.png"), auto !important;
}

body{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

@keyframes slideInFromTopContainer {
    70%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.main_container{
    animation: 4s ease-in-out slideInFromTopContainer;
}

@keyframes slideInFromTop {
    30%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200%);
    }
}

@keyframes slideInFromLeft {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(-100%);
    }
    66%{
        transform: translateX(0);
    }
    84%{
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(100%);
    }
    66%{
        transform: translateX(0);
    }
    84%{
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index:2;
}

.coloredOverlay{
    position: absolute;
    width: 100vw;
    height: 200vh;
    background-color: #5F13FF;
    z-index:3;
    bottom: 101vh;
    animation: 4s ease-in-out slideInFromTop;
}

.hand{
    height: 70vh;
    width: auto;
}



.right{
    animation: 0.75s cubic-bezier(0.75, 0.23, 0.34, 1.01) 0s 1 slideInFromRight;
}

.left{
    animation: 0.75s cubic-bezier(0.75, 0.23, 0.34, 1.01) 0s 1 slideInFromLeft;
}

.headband{
    background-color: #5F13FF;
    color: #ffffff;
    margin: 0;
    position: fixed;
    height: 5vh;
    width: 100vw;
    top: 0px;
}

.headband-bio{
    background-color: grey;
    color: white;
    margin: 0;
    position: fixed;
    height: 5vh;
    width: 100vw;
    top: 0px;
}

.headband-bio:hover{
    cursor: url("./assets/img/cursor-pointer.png"), auto !important;
}

.headband:hover{
    cursor: url("./assets/img/cursor-pointer.png"), auto !important;
}

h2 {
    font-family: "MyWebFont";
    font-size: 35px;
    text-align: center;
    margin: 0;
}

.title > h1 {
    font-family: "MyWebFont2";
    text-align: center;
    color: #5F13FF;
    font-size: 210px;
    margin: 0;
}

/* LYRICS */

.lyrics{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
    margin-bottom: 20vh;
}

.accordion, .trigger{
    font-family: "MyWebFont";
    font-size: 35px;
}

.accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: #AAA5A5;
    width: 100%;
    margin: 0;
    font-weight: 200;
}

.active > .trigger {
    font-size: 125%;
}

.accordion > .trigger{
    border: 0;
    background-color: transparent;
    color: #5F13FF ;
    transition: 1s;
    font-weight: 200;
}

.trigger:hover{
    color: red;
    font-size: 150%;
    transition: 1s;
    cursor: url("./assets/img/cursor-pointer.png"), auto !important;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
}

.active-panel{
    max-height: 100vh !important;
    transition: max-height 1s ease-in !important;
}

.panel > .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.row > .band {
    background-color: #5F13FF;
}

.first {
    margin: 0;
    padding: 0vh 0;
}

.panel > .row >  p {
    background-color: transparent;
    font-family: "MyWebFont";
    color: #5F13FF;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 75%;
}

button > img {
    height: 20px;
    width: 20px;
}

/* BIOGRAPHY CSS */

.container{
    padding: 40px;
    background-color: #5F13FF;
    display: flex;
    min-height: 100vh;
}

.idPicture{
    width: 20%;
}

.idPicture > img{
    width: 90%;
    height: auto;
}

.text{
    width: 80%;
}

.text > .row{
    margin: 3vh 0;
    display: flex;
    flex-direction: row;
}

.text > .row > .date, .biography{
    padding: 0 3vw;
}

.text > .row > .date, .biography > span{
    color: white;
    font-family: "MyWebFont";
    font-size: 25px;
    text-align: center;
    margin: 0;
}